<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Frontend Developer</title>
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/index.css">
  </head>
<body>
    <div class="container main">
        <!-- Two rows -->
        <div class="row">
            <!-- Title, 12 columns row -->
            <div class="col-md-12">
                <h1 class="title text-center">Frontend Nanodegree Project set</h1>
            </div>
            <div class="col-md-6">
                <h1 class="title text-left"></h1>
            </div>
            <div class="col-md-6 subtitle">
                <h2 class="title text-right">Vincenzo Auteri</h2>
            </div>
        </div>
        <div class="row">
            <!-- Content, one 5u left column and one 7u right column -->
            <div class="col-md-4">
                <img class="img-responsive left-column" src="images/mug.png" alt="Orange Mug">
                <div> 
                    <a href="project1">Project 1: Translate a mock-up to html</a>
                </div>
                <img class="img-responsive left-column" src="images/mug.png" alt="Orange Mug">
            </div>
            <div class="col-md-4">
                <img class="img-responsive left-column" src="images/mug.png" alt="Orange Mug">
                <img class="img-responsive left-column" src="images/mug.png" alt="Orange Mug">
            </div>
            <div class="col-md-4">
                <img class="img-responsive left-column" src="images/mug.png" alt="Orange Mug">
                <img class="img-responsive left-column" src="images/mug.png" alt="Orange Mug">
            </div>
        </div>
    </div>
</body>
</html> 
