<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Udacity Nanodegree Frontend Web Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Project Website">
    <meta name="author" content="Vincenzo Auteri">
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css"> 
    {% block head %}
    {% endblock %}

  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
